@using YellowDuck.Api.Helpers
@using YellowDuck.Api.Constants
@model YellowDuck.Api.EmailTemplates.Models.AdTransferredEmail
@{
    Layout = "_EmailLayout.cshtml";
}
<p style="font-style:italic;">--- English will follow ---</p>
<br>
<p>
    Une annonce (@Model.Title) vous a été transférer par Mutuali. <a href="@Model.BaseUrl/@UrlHelper.ManageAds(Locales.FR)">Connectez-vous pour la publier</a>
</p>
<br>
<br>
<p style="font-style:italic;">--- English version ---</p>
<br>

<p>
    An ad was transferred to you by Mutuali. <a href="@Model.BaseUrl/@UrlHelper.ManageAds(Locales.FR)">Login to publish</a>
</p>