@using YellowDuck.Api.Helpers
@using YellowDuck.Api.Constants
@using YellowDuck.Api.Extensions;
@model YellowDuck.Api.EmailTemplates.Models.ConfirmAlertEmail
@{
    Layout = "_EmailLayout.cshtml";
}

<p>Bonjour,</p>
<p>Veuillez confirmer la création d'une alerte courriel @AdCategoryHelper.AdCategoryToFrenchString(Model.Alert.Category).</p>
<p>
    <a href="@Model.BaseUrl/@UrlHelper.ConfirmAlert(Model.Alert.GetIdentifier().ToString(), Model.Alert.Email, Locales.FR)">
        Ceci est le lien sur lequel vous devez cliquer pour confirmer votre alerte.
    </a>
</p>
<p>Merci</p>