@using YellowDuck.Api.Helpers
@using YellowDuck.Api.Constants
@model YellowDuck.Api.EmailTemplates.Models.ResetPasswordEmail
@{ Layout = "_EmailLayout.cshtml"; }

<p style="font-style:italic;">--- English will follow ---</p>
<br>

<p>
    Nous avons reçu une demande de réinitialisation de mot de passe pour votre compte.
</p>
<p>
    Si vous n'avez pas fait cette demande, vous pouvez ignorer ce courriel.
</p>

<p>
    <a href="@Model.BaseUrl/@UrlHelper.ResetPassword(Model.To, Model.Token, Locales.FR)">Réinitialiser mon mot de passe</a>
</p>

<br>
<br>
<p style="font-style:italic;">--- English version ---</p>
<p>
    We received a password reset request for your account.
</p>
<p>
    If you have not made this request, you can ignore this email.
</p>

<p>
    <a href="@Model.BaseUrl/@UrlHelper.ResetPassword(Model.To, Model.Token, Locales.EN)">Reset my password</a>
</p>