// This file include all configuration for SASS.
// (ex. Functions, Variables, Mixins)
//
// Since this files is imported on each SCSS compilation
// it's important to create no output from this file.

$gray-100: #f5f5f6; // CIBIM - generated
$gray-200: #e2e3e2; // CIBIM
$gray-300: #d0d0d1; // CIBIM - generated
$gray-400: #b0aeb2; // CIBIM - generated
$gray-500: #87868a; // CIBIM - generated
$gray-600: #817f83; // CIBIM
$gray-700: #6c6b6f; // CIBIM - generated
$gray-800: #515052; // CIBIM
$gray-900: #414042; // CIBIM

$green: #34a49a; // CIBIM
$green-lighter: #ecf3f2; // CIBIM
$green-darker: #25756e;

$yellow-light: #f6ca53; // CIBIM - generated
$yellow: #f4b42b; // CIBIM
$yellow-dark: #ed9313; // CIBIM - generated

$red: #f15b4e; // CIBIM
$red-darker: #dc4f43; // CIBIM

$purple: #7B61FF;

$apple: #10B753;

$blue: #09F;

$primary: $gray-900; // CIBIM
$secondary: $gray-600; // CIBIM
$success: $green; // CIBIM
$info: $green; // CIBIM
$dark: $gray-900; // CIBIM
$light: $green-lighter; // CIBIM
$warning: $yellow; // CIBIM

$text-muted: $gray-700; // CIBIM - generated

$font-family-brand: Moderat, sans-serif;

$headings-font-family: $font-family-brand;
$headings-font-weight: 700;
$headings-line-height: 1.1;
$headings-color: $dark;

$card-border-color: $secondary;

// Font weight

$badge-font-weight: 400;
$font-weight-bold: 500;
$font-weight-bolder: 700;

// Grid columns

$grid-gutter-width: 0;

// Font size

$enable-responsive-font-sizes: true;
$display3-size: 3.1rem;
$display4-size: 2.8rem;

// Border-radius

$border-radius-md: 9px;

// Input

$input-color: $gray-900;
$input-placeholder-color: $text-muted;

// List group

$list-group-action-color: $green;

// Static heights

$nav-return-height: 56px;
$nav-height: 56px;
$footer-height: 36px;
$header-top-height: 70px;
$header-bottom-height: 46px;

// Spacers

$spacer: 1rem;
$spacers: (
);
$spacers: map-merge((0: 0,
      1: ($spacer * 0.25),
      2: ($spacer * 0.5),
      3: $spacer,
      4: ($spacer * 1.5),
      5: ($spacer * 3),
      6: ($spacer * 2)),
    $spacers);

@import "node_modules/bootstrap/scss/_functions";
@import "node_modules/bootstrap/scss/_variables";
@import "node_modules/bootstrap/scss/_mixins";