// _config.scss is prepended from vue.condig.js sass-loader

@import "./webfont/_moderat.scss";

@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";

@import "./components/termsfeed.scss";

@import "./utilities/_animations.scss";
@import "./utilities/_extend-cursor-area.scss";
@import "./utilities/_fab-container.scss";
@import "./utilities/_no-content.scss";
@import "./utilities/_responsive-text.scss";
@import "./utilities/_rm-child-margin.scss";
@import "./utilities/_section.scss";
@import "./utilities/_sr-only.scss";
@import "./utilities/_text.scss";

:root {
  --offset-outline-color: white;
  --outline-color: #{$green};
  --accent-color: #{$green};

  .gray-lighter {
    --offset-outline-color: #{$gray-100};
  }

  .green-lighter {
    --offset-outline-color: #{$green-lighter};
    --outline-color: #{$green};
  }

  .green {
    --offset-outline-color: #{$green};
    --outline-color: #{$gray-100};
  }

  .green-darker {
    --offset-outline-color: #{$gray-900};
    --outline-color: #{$gray-100};
  }

  .yellow {
    --offset-outline-color: #{$yellow};
    --outline-color: #{$gray-900};
  }

  .red {
    --accent-color: #{$red};
  }

  .purple {
    --accent-color: #{$purple};
  }

  .apple {
    --accent-color: #{$apple};
  }

  .blue {
    --accent-color: #{$blue};
  }
}

// Unify focus-visible look for keyboard navigation
a,
button,
.btn,
.btn-primary,
.btn-secondary,
.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-danger,
.btn-warning,
.btn-danger,
.btn-admin,
.btn-info,
.form-control,
.custom-select,
.navbar-text[tabindex="0"],
.vue-map div[role="button"] {
  &:focus-visible {
    box-sizing: border-box;
    outline: none;
    border-radius: 0.25rem;
    box-shadow: 0 0 0 2px var(--offset-outline-color), 0 0 0 4px var(--outline-color);
  }
}

.focus-overflow {
  position: relative;
  z-index: 2;
}

.rich-text-editor .form-control > div:focus-visible,
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before,
.custom-file-input:focus ~ .custom-file-label {
  box-sizing: border-box;
  outline: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 2px var(--offset-outline-color), 0 0 0 4px var(--outline-color);
}

// Hover state
.btn-primary,
.btn-secondary,
.btn-outline-primary,
.btn-outline-admin,
.btn-outline-danger,
.btn-warning,
.btn-danger,
.btn-success,
.btn-danger,
.btn-admin,
.btn-info {
  font-weight: 600;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  &:hover {
    transform: translate(0, -3px);

    @media (prefers-reduced-motion: reduce) {
      transform: translate(0, 0);
      box-shadow: none;
    }
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

.btn-primary {
  &:hover {
    box-shadow: 0px 3px 0px $gray-600;
    background-color: $gray-900;
  }
}

.btn-admin {
  border-color: $yellow;
  background-color: $yellow;

  &:hover {
    border-color: $yellow-light;
    box-shadow: 0px 3px 0px $gray-600;
    background-color: $yellow-light;
  }
}

.btn-info {
  border-color: $green;
  background-color: $green;

  &:hover {
    box-shadow: 0px 3px 0px $gray-600;
    border-color: $gray-900;
    background-color: $gray-900;
  }
}

.btn-secondary {
  &:hover {
    box-shadow: 0px 3px 0px $gray-600;
  }
}

.btn-danger {
  &:hover {
    box-shadow: 0px 3px 0px $red-darker;
  }
}

.btn-warning {
  &:hover {
    background-color: $yellow;
    border-color: $yellow;
    box-shadow: 0px 3px 0px $yellow-dark;
  }
}

.btn-success {
  &:hover {
    background-color: $green;
    border-color: $green;
    box-shadow: 0px 3px 0px $green-darker;
  }
}

.btn-outline-primary {
  &:hover {
    background-color: transparent;
    color: $gray-900;
    box-shadow: 0px 3px 0px $gray-600;
  }
}

.btn-outline-secondary {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-color: $gray-600;
  color: $gray-900;

  &:hover {
    background-color: $gray-900;
    border-color: $gray-900;
    color: $gray-100;
  }
}

.btn-outline-danger {
  &:hover {
    background-color: transparent;
    color: $red-darker;
    box-shadow: 0px 3px 0px $red-darker;
  }
}

.btn-outline-admin {
  border-color: $gray-600;
  color: $gray-900;
  &:hover {
    background-color: transparent;
    color: $gray-900;
    box-shadow: 0px 3px 0px $gray-600;
  }
}

a:not([class]),
a[class=""],
.btn-link {
  transition: color 0.1s ease-in-out, text-decoration 0.2s ease-in-out;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;

  &:hover {
    text-decoration-thickness: 2px;
  }
}

a[href^="tel:"] {
  cursor: default;
  text-decoration: none;
}

.link-title {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
  transition: text-decoration 0.3s ease;

  &:hover,
  &:focus,
  &:active {
    color: inherit;
    text-decoration-thickness: 4px;
  }
}

.link-scale {
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.05);

    @media (prefers-reduced-motion: reduce) {
      transform: scale(1);
    }
  }
}

.dropdown-item,
.list-group-item-action {
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

  &:hover {
    color: $gray-100;
    background-color: $gray-900;
  }
}

// Bouton pour ouvrir le side-panel
.navbar-text[tabindex="0"] {
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  border-radius: 50%;

  &:hover {
    background-color: $gray-900;
    color: $gray-100;
  }
}

.router-link-exact-active {
  cursor: default;
}

.text-light {
  a:not([class]),
  a[class=""] {
    color: $white;

    &:hover,
    &:focus,
    &:active {
      color: $white;
    }
  }
}

.text-white {
  a:not([class]),
  a[class=""] {
    color: $white;

    &:hover,
    &:focus,
    &:active {
      color: $white;
    }
  }
}

.text-white {
  .btn-link {
    color: $white;

    &:hover,
    &:focus,
    &:active {
      color: $white;
    }
  }
}

ol,
ul,
dl {
  // HOTFIX
  // Align list item to the left. Will cause
  // problem if number greater than 9 (overflow left).
  // IF THERE ARE PROBLEM, DELETE THIS HOTFIX.
  &:not([class]) {
    padding-inline-start: 18px;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: $primary;
}
